version: '3.8'

volumes:
  pg_data:
  media_volume:
  static_volume:

services:
  db:
    image: postgres:15
    restart: always
    volumes:
      - pg_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: jurassicon/foodgram_backend
    restart: always
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - media_volume:/app/media
      - static_volume:/app/static
    ports:
      - "8000:8000"
    command: >
      sh -c "
        python manage.py migrate &&
        python recipes/scripts/import_data.py &&
        exec gunicorn --bind 0.0.0.0:8000 config.wsgi:application
      "

  frontend:
    image: jurassicon/foodgram_frontend
    restart: always

  gateway:
    image: jurassicon/foodgram_gateway
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    volumes:
      - media_volume:/etc/nginx/html/media
      - static_volume:/etc/nginx/html/static
